.property-card, .booking, .cart, .checkout, .filters {
  border: 2px solid #0a0a0a;
  padding: 16px;
  margin: 16px;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
}

.property-card img {
  width: 300px;
}

.cart, .checkout {
  width: 500px;
  margin: 0 auto;
}
.properties.image{
  height: 30px;
}
.App{
  margin-left: 80px;
}
.user-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.avatar-icon{
  height: 50px;
  border-radius: 50%;
}